<main>
    <div class="container">
        <div class="left">
            <a class="profile">
                <div class="profile-photo">
                    <img src="images/profile-9.jpg">
                </div>
                <div class="handle text-bold">
                    <h4>Alberto Mitroi</h4>
                    <p class="text-muted">
                        &#64;abt
                    </p>
                </div>
            </a>

                <!-- SIDEBAR -->
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i></span> <h3>Home</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-compass"></i></span> <h3>Explore</h3>
                    </a>
                    <a class="menu-item" id="notification">
                        <span><i class="uil uil-bell"><small class="notification-count">3+</small></i></span> <h3>Notification</h3>
                        <!-- NOTIFICATION POP-UP -->
                         <div class="notification-popup">
                            <div>
                                <div class="profile-photo">
                                    <img src="images/icons/user.png">
                                </div>
                                <div class="notification-body">
                                    <b>Nita Mario</b> accepted your friend request
                                    <small class="text-muted">1 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-photo">
                                    <img src="images/icons/user.png">
                                </div>
                                <div class="notification-body">
                                    <b>Guta si ATAT</b> accepted your friend request
                                    <small class="text-muted">1 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-photo">
                                    <img src="images/icons/user.png">
                                </div>
                                <div class="notification-body">
                                    <b>Florin Salam</b> commented on a post you are tagged in
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-photo">
                                    <img src="images/icons/user.png">
                                </div>
                                <div class="notification-body">
                                    <b>Florin Salam</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                         </div>
                    </a>
                    <a class="menu-item" id="messages">
                        <span><i class="uil uil-envelope-alt"><small class="notification-count">6</small></i></span> <h3>Messages</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-bookmark"></i></span> <h3>Bookmarks</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-chart-line"></i></span> <h3>Analytics</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-palette"></i></span> <h3>Theme</h3>
                    </a>
                    <a class="menu-item">
                        <span><i class="uil uil-setting"></i></span> <h3>Settings</h3>
                    </a>
                </div>
                <label for="create-post" class="btn btn-primary">Create Post</label>
        </div>

        <div class="middle">
            <!--Stories-->
            <div class="stories">
                <div class="story">
                    <div class="profile-photo">
                        <img src="images/profile-4.jpg">
                    </div>
                    <p class="name">Florentina Salam</p>
                </div>

                <div class="story">
                    <div class="profile-photo">
                        <img src="images/profile-2.jpg">
                    </div>
                    <p class="name">Daniela Mocanu</p>
                </div>
            
                <div class="story">
                    <div class="profile-photo">
                        <img src="images/profile-3.jpg">
                    </div>
                    <p class="name">Nicoleta Guta</p>
                </div>
        
                <div class="story">
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                    <p class="name">Stefania Miracol</p>
                </div>
            
                <div class="story">
                    <div class="profile-photo">
                        <img src="images/profile-5.jpg">
                    </div>
                    <p class="name">Iuliana Neamtu</p>
                </div>
            </div>
            <form class="create-post">
                <div class="profile-photo">
                    <img src="images/profile-9.jpg">
                </div>
                <input type="text" placeholder="What's on your mind, Beto?" id="create-post">
                <input type="submit" value="Post" class="btn btn-primary">
            </form>

            <div class="feeds">
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="ingo">
                                <h3>Lana Rose</h3>
                                <small>Dubai viata ca-n rai, 15  MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="images/feed-4.jpg">
                    </div>
                    <div class="actions">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                            </span>
                            <span>
                                <i class="uil uil-comment-dots"></i>
                            </span>
                            <span>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <i class="uil uil-bookmark-full"></i>
                        </div>
                        <div class="liked-by">
                            <span>
                                <img src="images/profile-10.jpg">
                            </span>
                            <span>
                                <img src="images/profile-11.jpg">
                            </span>
                            <span>
                                <img src="images/profile-12.jpg">
                            </span>
                            <p>Liked by <b>Ernest Ochii tai</b> and <b>2,666 others</b></p>
                        </div>
                        <div class="caption">
                            <p><b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="harsh-tag">#lifestyle</span></p>
                        </div>
                        <div class="comments text-muted">View all -22 comments</div>
                    </div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="ingo">
                                <h3>Lana Rose</h3>
                                <small>Dubai viata ca-n rai, 15  MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="images/feed-1.jpg">
                    </div>
                    <div class="actions">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                            </span>
                            <span>
                                <i class="uil uil-comment-dots"></i>
                            </span>
                            <span>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <i class="uil uil-bookmark-full"></i>
                        </div>
                        <div class="liked-by">
                            <span>
                                <img src="images/profile-10.jpg">
                            </span>
                            <span>
                                <img src="images/profile-11.jpg">
                            </span>
                            <span>
                                <img src="images/profile-12.jpg">
                            </span>
                            <p>Liked by <b>Ernest Ochii tai</b> and <b>2,666 others</b></p>
                        </div>
                        <div class="caption">
                            <p><b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="harsh-tag">#lifestyle</span></p>
                        </div>
                        <div class="comments text-muted">View all -22 comments</div>
                    </div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="ingo">
                                <h3>Lana Rose</h3>
                                <small>Dubai viata ca-n rai, 15  MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="images/feed-2.jpg">
                    </div>
                    <div class="actions">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                            </span>
                            <span>
                                <i class="uil uil-comment-dots"></i>
                            </span>
                            <span>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <i class="uil uil-bookmark-full"></i>
                        </div>
                        <div class="liked-by">
                            <span>
                                <img src="images/profile-10.jpg">
                            </span>
                            <span>
                                <img src="images/profile-11.jpg">
                            </span>
                            <span>
                                <img src="images/profile-12.jpg">
                            </span>
                            <p>Liked by <b>Ernest Ochii tai</b> and <b>2,666 others</b></p>
                        </div>
                        <div class="caption">
                            <p><b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="harsh-tag">#lifestyle</span></p>
                        </div>
                        <div class="comments text-muted">View all -22 comments</div>
                    </div>
                </div>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="ingo">
                                <h3>Lana Rose</h3>
                                <small>Dubai viata ca-n rai, 15  MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="photo">
                        <img src="images/feed-3.jpg">
                    </div>
                    <div class="actions">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                            </span>
                            <span>
                                <i class="uil uil-comment-dots"></i>
                            </span>
                            <span>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <i class="uil uil-bookmark-full"></i>
                        </div>
                        <div class="liked-by">
                            <span>
                                <img src="images/profile-10.jpg">
                            </span>
                            <span>
                                <img src="images/profile-11.jpg">
                            </span>
                            <span>
                                <img src="images/profile-12.jpg">
                            </span>
                            <p>Liked by <b>Ernest Ochii tai</b> and <b>2,666 others</b></p>
                        </div>
                        <div class="caption">
                            <p><b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="harsh-tag">#lifestyle</span></p>
                        </div>
                        <div class="comments text-muted">View all -22 comments</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">
        </div>
    </div>
</main>