<div class="sidebar">
  <a class="menu-item active">
    <span><i class="uil uil-home"></i></span> <h3>Home</h3>
  </a>
  <a class="menu-item">
    <span><i class="uil uil-compass"></i></span> <h3>Explore</h3>
  </a>
  <a class="menu-item" id="notification">
    <span><i class="uil uil-bell"><small class="notification-count">3+</small></i></span>
    <h3>Notification</h3>
    <app-notification-popup></app-notification-popup>
  </a>
  <a class="menu-item" id="messages">
    <span><i class="uil uil-envelope-alt"><small class="notification-count">6</small></i></span>
    <h3>Messages</h3>
  </a>
  <a class="menu-item">
    <span><i class="uil uil-bookmark"></i></span> <h3>Bookmarks</h3>
  </a>
  <a class="menu-item">
    <span><i class="uil uil-chart-line"></i></span> <h3>Analytics</h3>
  </a>
  <a class="menu-item">
    <span><i class="uil uil-palette"></i></span> <h3>Theme</h3>
  </a>
  <a class="menu-item">
    <span><i class="uil uil-setting"></i></span> <h3>Settings</h3>
  </a>
</div>
