<!-- Sidebar -->
 <div style="margin-top: 60px;"> 
    <div id="site__sidebar">
        <div class="sidebar-content">
          <div class="sidebar-inner">
            
            <nav >
              <ul class="nav-list">
                <li class="mt-4">
                  <a href="#">
                    <img src="images/icons/home.png" class="icon" alt="Home" />
                    <span>Feed</span>
                  </a>
                </li>
                <li class="mt-4">
                  <a href="#">
                    <img src="images/icons/page.png" class="icon" alt="Favorites" />
                    <span>Favorites</span>
                  </a>
                </li>
                <li class="mt-4">
                  <a href="#">
                    <img src="images/icons/group-2.png" class="icon" alt="Friends" />
                    <span>Friends</span>
                  </a>
                </li>
              </ul>
            </nav>
      
            <nav class="section">
              <div class="section-title">Pages</div>
              <ul class="nav-list">
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94a1.125 1.125 0 011.11-.94h2.593a1.125 1.125 0 011.11.94l.213 1.281a1.25 1.25 0 00.866.997l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827a1.125 1.125 0 00-.431.992c0 .087.007.172.01.255a1.125 1.125 0 00.42.99l1.005.828a1.125 1.125 0 01.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456a1.25 1.25 0 00-.866.997l-.213 1.28a1.125 1.125 0 01-1.11.941h-2.594a1.125 1.125 0 01-1.11-.94l-.213-1.281a1.25 1.25 0 00-.864-.997l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827a1.125 1.125 0 00.43-.992 6.932 6.932 0 010-.255 1.125 1.125 0 00-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456a1.25 1.25 0 00.866-.997l.214-1.281z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <span>Settings</span>
                  </a>
                </li>
              </ul>
            </nav>
      
          </div>
        </div>
      
      </div>
      
 </div>
