<div class="container-fluid min-vh-100 d-flex flex-column">
    <!-- Topbar -->
    <div class="row flex-shrink-0">
      <div class="col-12 p-0">
        <app-navbar></app-navbar>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="row flex-grow-1">
      <!-- Sidebar -->
      <div class="col-12 col-md-2" style="background-color: aliceblue;">
        <app-sidebar></app-sidebar>
      </div>
  
<!-- Main Content Area -->
<div class="col-12 col-md-7 py-4" style="margin-top: 60px;">
  
    <div class="card mb-4">
      <img src="https://picsum.photos/800/400?random=1" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Ukraine War">
      <div class="card-body">
        <h5 class="card-title">Ukraine Wary of Putin's Easter Truce</h5>
        <p class="card-text">Ukraine said it would reciprocate any genuine ceasefire by Moscow, but voiced skepticism after Russian President Vladimir Putin announced a temporary Easter truce starting Saturday.</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  
    <div class="card mb-4">
      <img src="https://picsum.photos/800/400?random=2" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Whale Kayaker Incident">
      <div class="card-body">
        <h5 class="card-title">Did a Whale Swallow a Kayaker? The Truth Behind the Viral Video</h5>
        <p class="card-text">A humpback whale briefly engulfed a kayaker off the coast of Chile in an incident caught on camera. Experts say it couldn't have swallowed him even if it wanted to.</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  
    <div class="card mb-4">
      <img src="https://picsum.photos/800/400?random=3" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Minnesota Politics">
      <div class="card-body">
        <h5 class="card-title">Bitter Fight for Minnesota Legislature</h5>
        <p class="card-text">A series of unexpected events after the narrow election has set up a power struggle in the Minnesota Legislature. Days before the session, it's unclear who will take control.</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  
  </div>
  
  
      <!-- Right Sidebar (Suggested Friends & Trends) -->
      <div class="col-12 col-md-3" style="background-color: aliceblue; padding-top: 80px;">
        <div class="d-flex flex-column">
          <app-suggested-friends></app-suggested-friends>
          <div class="m-4" style="background-color: black; height: 3px;"></div>
          <app-trends-for-you></app-trends-for-you>
        </div>
      </div>
    </div>
  </div>
  