<div class="people-you-may-know">

    <div class="section-header">
        <h3 class="section-title" style="font-size: x-large;">People you may know</h3>
    </div>

    <div class="people-list">

        <div class="people-item">
            <a href="#">
                <img src="images/icons/user.png" class="people-avatar" alt="User Avatar" />
            </a>
            <div class="people-info">
                <a href="#"><h4 class="people-name">First User</h4></a>
                <div class="people-followers">5 followers</div>
            </div>
            <form>
                <button type="submit" class="btn-follow">Follow</button>
            </form>
        </div>

        <div class="people-item">
            <a href="#">
                <img src="images/icons/user.png" class="people-avatar" alt="User Avatar" />
            </a>
            <div class="people-info">
                <a href="#"><h4 class="people-name">Second User</h4></a>
                <div class="people-followers">6 followers</div>
            </div>
            <form>
                <button type="submit" class="btn-follow">Follow</button>
            </form>
        </div>

        <div class="people-item">
            <a href="#">
                <img src="images/icons/user.png" class="people-avatar" alt="User Avatar" />
            </a>
            <div class="people-info">
                <a href="#"><h4 class="people-name">Third User</h4></a>
                <div class="people-followers">7 followers</div>
            </div>
            <form>
                <button type="submit" class="btn-follow">Follow</button>
            </form>
        </div>

    </div>

</div>
