<div class="trends-for-you">

    <div class="section-header">
        <h3 class="section-title" style="font-size: x-large;">Trends for you</h3>
    </div>

    <div class="trends-list">

        <a href="#" class="trend-item">
            <div class="trend-content">
                <h2 class="trend-name">#SocialMediaApp</h2>
                <div class="trend-posts">12 posts</div>
            </div>
        </a>

        <a href="#" class="trend-item">
            <div class="trend-content">
                <h2 class="trend-name">#ThankYou</h2>
                <div class="trend-posts">10 posts</div>
            </div>
        </a>

        <a href="#" class="trend-item">
            <div class="trend-content">
                <h2 class="trend-name">#ASP.NET</h2>
                <div class="trend-posts">12 posts</div>
            </div>
        </a>

    </div>

</div>
